# Environment variables
.env
*.env
.env.*

# Python
venv/
__pycache__/
*.pyc

# Node / React
node_modules/
dist/
build/

# OS files
.DS_Store
Thumbs.db

mygeranhub-firebase-adminsdk-fbsvc-941bf0de51.json